:root {
  --primary-background-color: #faf8ff;
  --text-color: #242424;
  --primary-color: #068488;
  --secondary-color: #00c6cf;
  --grey-cyan: #324b4c;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--primary-background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

main {
  line-height: 1.8;
}

#aboutmain {
  line-height: 1.8;
  /* margin: auto; */
  display: flex;
  max-width: 100%;
  flex-flow: column wrap;
  align-items: center;
}

.aboutmeinfo {
  display: flex;
  flex-direction: column;
  border: 1px dashed var(--primary-color);
  border-radius: 25px;
  padding: 10px;
  margin: 30px;
  align-items: center;
  align-content: center;
  width: 60%;
}

.aboutGrid {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 40px;
  align-items: start;
  margin: 0 auto;
}

.aboutGridItem {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* .aboutQual {
  max-width: 700px;
  border: 1px dashed var(--primary-color);
  border-radius: 25px;
  padding: 0 20px;
} */

.aboutQual {
  max-width: 100%;
  width: 90%; /* Use a percentage to make it responsive */
  border: 1px dashed var(--primary-color);
  border-radius: 25px;
  padding: 0 20px;
  margin: 0 auto; /* Center the element */
}

#aboutlist {
  list-style-type: square;
  text-align: left;
}

footer {
  display: flex;
  line-height: 1.5;
  font-size: 14px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  align-content: center;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid var(--primary-color);
}

.page-header__item {
  flex: 0 1 50px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

.profile__portrait {
  float: left;
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  height: auto;

  border-radius: 50%;
}

.profile {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 700px;
  min-height: 350px;
  margin: 50px auto 0;
  border: 1px dashed var(--primary-color);
  border-radius: 25px;
  padding: 40px;
  justify-content: space-evenly;
}

.profileText {
  margin-top: 20px;
}

.socials {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

a {
  color: var(--grey-cyan);
  padding: 5px;
}

a:visited {
  color: var(--primary-color);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--secondary-color);
  border-radius: 10px;
}

a:active {
  color: var(--primary-background-color);
  outline: 2px solid var(--secondary-color);
}

#checkcode,
.backtop {
  text-decoration: none;
  color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 0 2px var(--primary-color);
  padding: 10px;
}

#checkcode {
  margin-top: 50px;
}

.backtop {
  margin-right: 20px;
}

#checkcode:visited,
.backtop:visited {
  color: var(--secondary-color);
}

#checkcode:hover,
#checkcode:focus,
.backtop:hover,
.backtop:focus {
  text-decoration: none;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  border-radius: 10px;
  transform: scale(1.03);
  box-shadow: 0 0 10px var(--secondary-color);
}

#checkcode:active,
.backtop:active {
  color: var(--primary-background-color);
  background-color: var(--secondary-color);
  outline: 1px solid var(--secondary-color);
  transform: scale(1.03);
}

.navigation-list__item {
  color: var(--primary-color);
}

.navigation-list__item--active {
  text-decoration: none;
}

.navigation-list__item:hover,
.navigation-list:focus {
  outline: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.navigation-list__item:active {
  color: var(--primary-background-color);
  outline: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
}

/* button,
.button {
  border: none;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--primary-background-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.3s;
  transition-property: opacity, background-color, color;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  color: var(--primary-background-color);
  cursor: pointer;
  background-color: var(--secondary-color);
  opacity: 0.8;
} */

.gridheader {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 700px;
  margin: 30px auto;
  border: 1px dashed var(--primary-color);
  border-radius: 25px;
  padding: 20px 40px 40px;

  align-content: center;
  align-items: center;
  justify-content: center;
}

.gridheaderTitle {
  align-items: center;

  width: 90%;
  max-width: 700px;
}

.projectImage {
  max-width: 100%;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.chatImage {
  display: block;
  margin: 0 auto;
  max-height: 300px;
  width: auto;
  border: 2px solid var(--text-color);
}

.more-btn:hover {
  color: var(--text-color);
  background-color: var(--secondary-color);
  transform: scale(1.02);
}

.more-btn {
  display: block;
  margin: 10px auto;
  color: var(--primary-background-color);
  background-color: transparent; /* Start with a transparent background */
  text-decoration: none;
  outline: 1px solid var(--primary-background-color);
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  padding: 7px 15px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition effect */
}

/* Hover effect to differentiate from the links */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 40px;
  margin: 50px auto;
  width: 90%;
}

.gridItemTitle {
  text-align: center;
}

.grid__item {
  display: flex;
  min-width: 300px;
  background-color: var(--primary-color);
  color: var(--primary-background-color);
  text-align: left;
  /*  padding: 20px 20px 50px; */
  display: inline-block;
  transition: transform 0.6 ease;
  border-radius: 25px;
  /*border: 2px solid var(--text-color); */
  opacity: 0.8;
}

.grid__item:hover {
  transform: scale(1.02);
  opacity: 1;
}

.gridFooter {
  border-top: 1px dashed var(--text-color);
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.gridlink {
  margin-top: 20px;
  color: var(--primary-background-color);
  text-decoration: none;
  outline: 1px solid var(--primary-background-color);
  border-radius: 50px;
  cursor: pointer;
  padding: 5px 10px;
}

.gridlink:visited {
  color: var(--text-color);
  text-decoration: none;
  border-radius: 50px;
}

.gridlink:hover {
  outline: 2px solid var(--text-color);
  color: var(--text-color);
  font-weight: bolder;
  border-radius: 50px;
}

.gridlink:active {
  color: var(--secondary-color);
  outline: 2px solid var(--secondary-color);
  border-radius: 50px;
}

.gridHostLink {
  margin-top: 10px;
  color: var(--primary-background-color);
  text-decoration: none;
  /*   font-weight: bold; */
  outline: 1px solid var(--primary-background-color);
  border-radius: 50px;
  cursor: pointer;
  padding: 5px 10px;
}

.gridHostLink:visited {
  color: var(--text-color);
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
}

.gridHostLink:hover {
  outline: 2px solid var(--text-color);
  color: var(--text-color);
  border-radius: 50px;
  font-weight: bolder;
}

.gridHostLink:active {
  color: var(--secondary-color);
  outline: 2px solid var(--secondary-color);
  border-radius: 50px;
}

/* @media for responsive website */

/* @media all and (max-width: 500px) {
  h1 {
    font-size: 22px;
  }

  .profile {
    padding: auto;
    margin: 20px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  h1 {
    font-size: 22px;
  }

  .profile {
    padding: auto;
    margin: 20px;
  }
}

@media all and (max-width: 750px) {
  h1 {
    font-size: 22px;
  }

  .profile {
    padding: auto;
    margin: 40px;
  }
} */

/* @keyframes for animation */

@keyframes moving-right {
  from {
    transform: translate(0, 20px);
  }

  to {
    transform: translate(50px, 20px);
  }
}

#gear1 {
  animation-duration: 10s;
  animation-name: moving-right;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes moving-up {
  from {
    transform: translate(15px, 0);
  }

  to {
    transform: translate(15px, 30px);
  }
}

#gear2 {
  animation-duration: 10s;
  animation-name: moving-up;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-change {
  0% {
    fill: var(--primary-background-color);
  }

  35% {
    fill: var(--primary-color);
  }

  100% {
    fill: var(--primary-background-color);
  }
}

#gear3 {
  animation-duration: 15s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-reverse {
  0% {
    fill: var(--primary-color);
  }

  35% {
    fill: var(--primary-background-color);
  }

  100% {
    fill: var(--primary-color);
  }
}

#gear4 {
  animation-duration: 15s;
  animation-name: color-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes moving-down {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, 5px);
  }
}

#cloudsvg,
#arrowsvg {
  animation-duration: 2s;
  animation-name: moving-down;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

table,
th,
td {
  padding: 20px;
  transition-duration: 0.3s;
  transition-property: opacity, background-color, color;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: var(--primary-color);
  color: var(--primary-background-color);
  border-bottom: 2px solid var(--text-color);
}

td {
  text-align: center;
}

.tablerow {
  border: 1px solid var(--text-color);
  transition-duration: 0.1s;
  transition-property: opacity, background-color;
}

.tablerow:hover {
  color: var(--primary-background-color);
  background-color: var(--primary-color);
  font-weight: bolder;
  border: 1px solid var(--text-color);
  opacity: 0.6;
}

th.skillshead,
th.loehead {
  width: 22%;
}

th.yoehead {
  width: 16%;
}

.skillstable {
  text-align: left;
  border: 1px solid var(--text-color);
}

.leveltable {
  border: 1px solid var(--text-color);
}

/* rounding the top corners of the table */

th:first-of-type {
  border-top-left-radius: 10px;
}

th:last-of-type {
  border-top-right-radius: 10px;
}

.contactme {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-content: space-between;
  padding: 50px;
  margin: 50px 10px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  background-color: rgba(0, 198, 207, 0.05);
}

.contactsite {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

#contactdetails {
  width: 100%;
  max-width: 500px;
  align-items: center;
  display: flex;
  flex-flow: column;
  padding: 10px 20px;
  margin: 20px auto 0;
  border: 1px dashed var(--primary-color);
  border-radius: 10px;
}

/* #contact-form {
  max-width: 90%;
  display: flex;
  padding: 50px;
  margin: 50px 30px;
  background-color: rgba(0, 198, 207, 0.05);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
} */

.contactImage {
  display: grid;
  grid-template-columns: repeat(100px, 1fr);
  margin: 0 auto;
}

.contactLink {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
}

form {
  font-weight: bold;
  width: 100%;
  flex-flow: wrap column;
  align-items: flex-start;
  padding: 0 30px;
  align-content: flex-start;
}

label {
  margin: 0;
}

input {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 0.5px solid var(--secondary-color);
  border-bottom: 2px solid var(--primary-color);
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: var(--primary-background-color);
}

textarea {
  width: 100%;
  height: 150px;
  padding: 5px;
  box-sizing: border-box;
  border: 0.5px solid var(--secondary-color);
  border-bottom: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--primary-background-color);
  resize: none;
}

input:focus,
textarea:focus {
  width: 100%;
  border: 2px solid var(--primary-color);
}

.backtoplink {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  padding-bottom: 50px;
}

.textlink,
.textlink:focus,
.textlink:active {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
}
.textlink:hover {
  color: var(--primary-background-color);
  font-weight: bold;
}

.gridtext {
  text-align: left;
  padding: 10px 30px;
}
